@import "reset.css";
@import "normalize.css";
@import "<link href='http://fonts.googleapis.com/css?family=Ceviche+One' rel='stylesheet' type='text/css'>";

body{
	color: #999;
	background: gray;
}

.wrap{
	width: 400px;
	margin: 0 auto;
	font: normal 14px;
	font-family: 'Ceviche One', cursive;	
}

.task-list{
	width: 88%;
	min-height: 300px;
	background: #fff;
	box-shadow: 2px 2px 0px #ddd;
	margin-top: 5%;
	padding: 22px 6%;
}
.title{
	font: normal 14px;
	font-family: 'Ceviche One', cursive;	
}
