#background{
  background-color: gray;
  width:50%;
  margin-left: 5px;

}
#scene{
  position: fixed;
  width: auto;
  height: 35%;
  bottom:0px;
}
#snowman{
  cursor:pointer;
}
/*end of snow man*/

.fonttext{
	
	font-family: 'Sigmar One', cursive;

}
/*for iphone 5*/
@media (max-width: 320px ){
	html {
		background-color: gray;
	}
}
@media (min-width: 1024px){
	html{
		background-color: gray;
	}
	/*for ipad*/
}
/*For background*/
.social{
   opacity:.8;
   -webkit-transition: -webkit-all .5s ease;
   -moz-transition: -moz-all .5s ease;
   -o-transition: -o-all .5s ease;
   transition: all .5s ease;
   display:inline-block;
   padding:15px 5px 10px 20px;
   background-color:gray;
   width:55px;
   height:60px;
   margin:0px;
   
   
}

/*for social links*/
.socials li{
   opacity:.8;
   -webkit-transition: -webkit-all .5s ease;
   -moz-transition: -moz-all .5s ease;
   -o-transition: -o-all .5s ease;
   transition: all .5s ease;
   display:inline-block;
   padding:15px 5px 10px 20px;
   background-color:gray;
   width:55px;
   margin:0px;
   
   font-size:1.5em;
}
.socials li:hover{
   color:orange;
   opacity:1;
   cursor:pointer;
  box-shadow:2px 2px 5px #000;
}
#f:hover{
  color:orange;
}
#t:hover{
  color:orange;
}
.socials{
  list-style:none;
}
.pushright{
	position:fixed;
  top:100px;
	left: 900px;
  width:90%;
  top:10%;

}
.height{
	height:60px;
}
.read{
  width:40%;
  height:50;
}

